<div class="product">
  <div class="container">
    <div>
      <div class="product__group">
        <div class="product__gallery | swiper knockout" id="swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img
                class="lazyload"
                alt="HyperX Cloud Stinger Core - Бездротова ігрова гарнітура + 7.1"
                src=`${import.meta.env.BASE_URL}hyperx_cloud_stinger_core_wireless_7.1_02_main_dongle_300x.jpg`
                tabindex="-1"
                data-aspectratio="1.0"
                data-sizes="auto"
                data-srcset=`${import.meta.env.BASE_URL}hyperx_cloud_stinger_core_wireless_7.1_02_main_dongle_180x.jpg 180w, ${import.meta.env.BASE_URL}hyperx_cloud_stinger_core_wireless_7.1_02_main_dongle_360x.jpg 360w, ${import.meta.env.BASE_URL}hyperx_cloud_stinger_core_wireless_7.1_02_main_dongle_540x.jpg 540w, ${import.meta.env.BASE_URL}hyperx_cloud_stinger_core_wireless_7.1_02_main_dongle_720x.jpg 720w, ${import.meta.env.BASE_URL}hyperx_cloud_stinger_core_wireless_7.1_02_main_dongle_900x.jpg 900w, ${import.meta.env.BASE_URL}hyperx_cloud_stinger_core_wireless_7.1_02_main_dongle_1080x.jpg 1080w, ${import.meta.env.BASE_URL}hyperx_cloud_stinger_core_wireless_7.1_02_main_dongle_1296x.jpg 1296w, ${import.meta.env.BASE_URL}hyperx_cloud_stinger_core_wireless_7.1_02_main_dongle_1512x.jpg 1512w, ${import.meta.env.BASE_URL}hyperx_cloud_stinger_core_wireless_7.1_02_main_dongle_1728x.jpg 1728w, ${import.meta.env.BASE_URL}hyperx_cloud_stinger_core_wireless_7.1_02_main_dongle_1944x.jpg 1944w, ${import.meta.env.BASE_URL}hyperx_cloud_stinger_core_wireless_7.1_02_main_dongle_2160x.jpg 2160w, ${import.meta.env.BASE_URL}hyperx_cloud_stinger_core_wireless_7.1_02_main_dongle_2376x.jpg 2376w, ${import.meta.env.BASE_URL}hyperx_cloud_stinger_core_wireless_7.1_02_main_dongle_2592x.jpg 2592w, ${import.meta.env.BASE_URL}hyperx_cloud_stinger_core_wireless_7.1_02_main_dongle_2808x.jpg 2808w, ${import.meta.env.BASE_URL}hyperx_cloud_stinger_core_wireless_7.1_02_main_dongle_3024x.jpg 3024w`
              />
            </div>
            <div class="swiper-slide">
              <img
                class="lazyload"
                alt="HyperX Cloud Stinger Core - Бездротова ігрова гарнітура + 7.1"
                src=`${import.meta.env.BASE_URL}hyperx_cloud_stinger_core_wireless_7.1_03_front_300x.jpg`
                tabindex="-1"
                data-aspectratio="1.0"
                data-sizes="auto"
                data-srcset=`${import.meta.env.BASE_URL}hyperx_cloud_stinger_core_wireless_7.1_03_front_180x.jpg 180w, ${import.meta.env.BASE_URL}hyperx_cloud_stinger_core_wireless_7.1_03_front_360x.jpg 360w, ${import.meta.env.BASE_URL}hyperx_cloud_stinger_core_wireless_7.1_03_front_540x.jpg 540w, ${import.meta.env.BASE_URL}hyperx_cloud_stinger_core_wireless_7.1_03_front_720x.jpg 720w, ${import.meta.env.BASE_URL}hyperx_cloud_stinger_core_wireless_7.1_03_front_900x.jpg 900w, ${import.meta.env.BASE_URL}hyperx_cloud_stinger_core_wireless_7.1_03_front_1080x.jpg 1080w, ${import.meta.env.BASE_URL}hyperx_cloud_stinger_core_wireless_7.1_03_front_1296x.jpg 1296w, ${import.meta.env.BASE_URL}hyperx_cloud_stinger_core_wireless_7.1_03_front_1512x.jpg 1512w, ${import.meta.env.BASE_URL}hyperx_cloud_stinger_core_wireless_7.1_03_front_1728x.jpg 1728w, ${import.meta.env.BASE_URL}hyperx_cloud_stinger_core_wireless_7.1_03_front_1944x.jpg 1944w, ${import.meta.env.BASE_URL}hyperx_cloud_stinger_core_wireless_7.1_03_front_2160x.jpg 2160w, ${import.meta.env.BASE_URL}hyperx_cloud_stinger_core_wireless_7.1_03_front_2376x.jpg 2376w, ${import.meta.env.BASE_URL}hyperx_cloud_stinger_core_wireless_7.1_03_front_2592x.jpg 2592w, ${import.meta.env.BASE_URL}hyperx_cloud_stinger_core_wireless_7.1_03_front_2808x.jpg 2808w, ${import.meta.env.BASE_URL}hyperx_cloud_stinger_core_wireless_7.1_03_front_3024x.jpg 3024w`
              />
            </div>
            <div class="swiper-slide">
              <img
                class="product__swiper-image lazyload"
                alt="HyperX Cloud Stinger Core - Бездротова ігрова гарнітура + 7.1"
                src=`${import.meta.env.BASE_URL}hyperx_cloud_stinger_core_wireless_7.1_04_side_300x.jpg`
                tabindex="-1"
                data-aspectratio="1.0"
                data-sizes="auto"
                data-srcset=`${import.meta.env.BASE_URL}hyperx_cloud_stinger_core_wireless_7.1_04_side_180x.jpg 180w, ${import.meta.env.BASE_URL}hyperx_cloud_stinger_core_wireless_7.1_04_side_360x.jpg 360w, ${import.meta.env.BASE_URL}hyperx_cloud_stinger_core_wireless_7.1_04_side_540x.jpg 540w, ${import.meta.env.BASE_URL}hyperx_cloud_stinger_core_wireless_7.1_04_side_720x.jpg 720w, ${import.meta.env.BASE_URL}hyperx_cloud_stinger_core_wireless_7.1_04_side_900x.jpg 900w, ${import.meta.env.BASE_URL}hyperx_cloud_stinger_core_wireless_7.1_04_side_1080x.jpg 1080w, ${import.meta.env.BASE_URL}hyperx_cloud_stinger_core_wireless_7.1_04_side_1296x.jpg 1296w, ${import.meta.env.BASE_URL}hyperx_cloud_stinger_core_wireless_7.1_04_side_1512x.jpg 1512w, ${import.meta.env.BASE_URL}hyperx_cloud_stinger_core_wireless_7.1_04_side_1728x.jpg 1728w, ${import.meta.env.BASE_URL}hyperx_cloud_stinger_core_wireless_7.1_04_side_1944x.jpg 1944w, ${import.meta.env.BASE_URL}hyperx_cloud_stinger_core_wireless_7.1_04_side_2160x.jpg 2160w, ${import.meta.env.BASE_URL}hyperx_cloud_stinger_core_wireless_7.1_04_side_2376x.jpg 2376w, ${import.meta.env.BASE_URL}hyperx_cloud_stinger_core_wireless_7.1_04_side_2592x.jpg 2592w, ${import.meta.env.BASE_URL}hyperx_cloud_stinger_core_wireless_7.1_04_side_2808x.jpg 2808w, ${import.meta.env.BASE_URL}hyperx_cloud_stinger_core_wireless_7.1_04_side_3024x.jpg 3024w`
              />
            </div>
            <div class="swiper-slide">
              <img
                class="product__swiper-image lazyload"
                alt="HyperX Cloud Stinger Core - Бездротова ігрова гарнітура + 7.1"
                src=`${import.meta.env.BASE_URL}hyperx_cloud_stinger_core_wireless_7.1_05_side_up_300x.jpg`
                tabindex="-1"
                data-aspectratio="1.0"
                data-sizes="auto"
                data-srcset=`${import.meta.env.BASE_URL}hyperx_cloud_stinger_core_wireless_7.1_05_side_up_180x.jpg 180w, ${import.meta.env.BASE_URL}hyperx_cloud_stinger_core_wireless_7.1_05_side_up_360x.jpg 360w, ${import.meta.env.BASE_URL}hyperx_cloud_stinger_core_wireless_7.1_05_side_up_540x.jpg 540w, ${import.meta.env.BASE_URL}hyperx_cloud_stinger_core_wireless_7.1_05_side_up_720x.jpg 720w, ${import.meta.env.BASE_URL}hyperx_cloud_stinger_core_wireless_7.1_05_side_up_900x.jpg 900w, ${import.meta.env.BASE_URL}hyperx_cloud_stinger_core_wireless_7.1_05_side_up_1080x.jpg 1080w, ${import.meta.env.BASE_URL}hyperx_cloud_stinger_core_wireless_7.1_05_side_up_1296x.jpg 1296w, ${import.meta.env.BASE_URL}hyperx_cloud_stinger_core_wireless_7.1_05_side_up_1512x.jpg 1512w, ${import.meta.env.BASE_URL}hyperx_cloud_stinger_core_wireless_7.1_05_side_up_1728x.jpg 1728w, ${import.meta.env.BASE_URL}hyperx_cloud_stinger_core_wireless_7.1_05_side_up_1944x.jpg 1944w, ${import.meta.env.BASE_URL}hyperx_cloud_stinger_core_wireless_7.1_05_side_up_2160x.jpg 2160w, ${import.meta.env.BASE_URL}hyperx_cloud_stinger_core_wireless_7.1_05_side_up_2376x.jpg 2376w, ${import.meta.env.BASE_URL}hyperx_cloud_stinger_core_wireless_7.1_05_side_up_2592x.jpg 2592w, ${import.meta.env.BASE_URL}hyperx_cloud_stinger_core_wireless_7.1_05_side_up_2808x.jpg 2808w, ${import.meta.env.BASE_URL}hyperx_cloud_stinger_core_wireless_7.1_05_side_up_3024x.jpg 3024w`
              />
            </div>
            <div class="swiper-slide">
              <img
                class="product__swiper-image lazyload"
                alt="HyperX Cloud Stinger Core - Бездротова ігрова гарнітура + 7.1"
                src=`${import.meta.env.BASE_URL}hyperx_cloud_stinger_core_wireless_7.1_06_bottom_300x.jpg`
                tabindex="-1"
                data-aspectratio="1.0"
                data-sizes="auto"
                data-srcset=`${import.meta.env.BASE_URL}hyperx_cloud_stinger_core_wireless_7.1_06_bottom_180x.jpg 180w, ${import.meta.env.BASE_URL}hyperx_cloud_stinger_core_wireless_7.1_06_bottom_360x.jpg 360w, ${import.meta.env.BASE_URL}hyperx_cloud_stinger_core_wireless_7.1_06_bottom_540x.jpg 540w, ${import.meta.env.BASE_URL}hyperx_cloud_stinger_core_wireless_7.1_06_bottom_720x.jpg 720w, ${import.meta.env.BASE_URL}hyperx_cloud_stinger_core_wireless_7.1_06_bottom_900x.jpg 900w, ${import.meta.env.BASE_URL}hyperx_cloud_stinger_core_wireless_7.1_06_bottom_1080x.jpg 1080w, ${import.meta.env.BASE_URL}hyperx_cloud_stinger_core_wireless_7.1_06_bottom_1296x.jpg 1296w, ${import.meta.env.BASE_URL}hyperx_cloud_stinger_core_wireless_7.1_06_bottom_1512x.jpg 1512w, ${import.meta.env.BASE_URL}hyperx_cloud_stinger_core_wireless_7.1_06_bottom_1728x.jpg 1728w, ${import.meta.env.BASE_URL}hyperx_cloud_stinger_core_wireless_7.1_06_bottom_1944x.jpg 1944w, ${import.meta.env.BASE_URL}hyperx_cloud_stinger_core_wireless_7.1_06_bottom_2160x.jpg 2160w, ${import.meta.env.BASE_URL}hyperx_cloud_stinger_core_wireless_7.1_06_bottom_2376x.jpg 2376w, ${import.meta.env.BASE_URL}hyperx_cloud_stinger_core_wireless_7.1_06_bottom_2592x.jpg 2592w, ${import.meta.env.BASE_URL}hyperx_cloud_stinger_core_wireless_7.1_06_bottom_2808x.jpg 2808w, ${import.meta.env.BASE_URL}hyperx_cloud_stinger_core_wireless_7.1_06_bottom_3024x.jpg 3024w`
              />
            </div>
            <div class="swiper-slide">
              <img
                class="product__swiper-image lazyload"
                alt="HyperX Cloud Stinger Core - Бездротова ігрова гарнітура + 7.1"
                src=`${import.meta.env.BASE_URL}hyperx_cloud_stinger_core_wireless_7.1_07_extended_300x.jpg`
                tabindex="-1"
                data-aspectratio="1.0"
                data-sizes="auto"
                data-srcset=`${import.meta.env.BASE_URL}hyperx_cloud_stinger_core_wireless_7.1_07_extended_180x.jpg 180w, ${import.meta.env.BASE_URL}hyperx_cloud_stinger_core_wireless_7.1_07_extended_360x.jpg 360w, ${import.meta.env.BASE_URL}hyperx_cloud_stinger_core_wireless_7.1_07_extended_540x.jpg 540w, ${import.meta.env.BASE_URL}hyperx_cloud_stinger_core_wireless_7.1_07_extended_720x.jpg 720w, ${import.meta.env.BASE_URL}hyperx_cloud_stinger_core_wireless_7.1_07_extended_900x.jpg 900w, ${import.meta.env.BASE_URL}hyperx_cloud_stinger_core_wireless_7.1_07_extended_1080x.jpg 1080w, ${import.meta.env.BASE_URL}hyperx_cloud_stinger_core_wireless_7.1_07_extended_1296x.jpg 1296w, ${import.meta.env.BASE_URL}hyperx_cloud_stinger_core_wireless_7.1_07_extended_1512x.jpg 1512w, ${import.meta.env.BASE_URL}hyperx_cloud_stinger_core_wireless_7.1_07_extended_1728x.jpg 1728w, ${import.meta.env.BASE_URL}hyperx_cloud_stinger_core_wireless_7.1_07_extended_1944x.jpg 1944w, ${import.meta.env.BASE_URL}hyperx_cloud_stinger_core_wireless_7.1_07_extended_2160x.jpg 2160w, ${import.meta.env.BASE_URL}hyperx_cloud_stinger_core_wireless_7.1_07_extended_2376x.jpg 2376w, ${import.meta.env.BASE_URL}hyperx_cloud_stinger_core_wireless_7.1_07_extended_2592x.jpg 2592w, ${import.meta.env.BASE_URL}hyperx_cloud_stinger_core_wireless_7.1_07_extended_2808x.jpg 2808w, ${import.meta.env.BASE_URL}hyperx_cloud_stinger_core_wireless_7.1_07_extended_3024x.jpg 3024w`
              />
            </div>
            <div class="swiper-slide">
              <img
                class="product__swiper-image lazyload"
                alt="HyperX Cloud Stinger Core - Бездротова ігрова гарнітура + 7.1"
                src=`${import.meta.env.BASE_URL}hyperx_cloud_stinger_core_wireless_7.1_08_accessories_300x.jpg`
                tabindex="-1"
                data-aspectratio="1.0"
                data-sizes="auto"
                data-srcset=`${import.meta.env.BASE_URL}hyperx_cloud_stinger_core_wireless_7.1_08_accessories_180x.jpg 180w, ${import.meta.env.BASE_URL}hyperx_cloud_stinger_core_wireless_7.1_08_accessories_360x.jpg 360w, ${import.meta.env.BASE_URL}hyperx_cloud_stinger_core_wireless_7.1_08_accessories_540x.jpg 540w, ${import.meta.env.BASE_URL}hyperx_cloud_stinger_core_wireless_7.1_08_accessories_720x.jpg 720w, ${import.meta.env.BASE_URL}hyperx_cloud_stinger_core_wireless_7.1_08_accessories_900x.jpg 900w, ${import.meta.env.BASE_URL}hyperx_cloud_stinger_core_wireless_7.1_08_accessories_1080x.jpg 1080w, ${import.meta.env.BASE_URL}hyperx_cloud_stinger_core_wireless_7.1_08_accessories_1296x.jpg 1296w, ${import.meta.env.BASE_URL}hyperx_cloud_stinger_core_wireless_7.1_08_accessories_1512x.jpg 1512w, ${import.meta.env.BASE_URL}hyperx_cloud_stinger_core_wireless_7.1_08_accessories_1728x.jpg 1728w, ${import.meta.env.BASE_URL}hyperx_cloud_stinger_core_wireless_7.1_08_accessories_1944x.jpg 1944w, ${import.meta.env.BASE_URL}hyperx_cloud_stinger_core_wireless_7.1_08_accessories_2160x.jpg 2160w, ${import.meta.env.BASE_URL}hyperx_cloud_stinger_core_wireless_7.1_08_accessories_2376x.jpg 2376w, ${import.meta.env.BASE_URL}hyperx_cloud_stinger_core_wireless_7.1_08_accessories_2592x.jpg 2592w, ${import.meta.env.BASE_URL}hyperx_cloud_stinger_core_wireless_7.1_08_accessories_2808x.jpg 2808w, ${import.meta.env.BASE_URL}hyperx_cloud_stinger_core_wireless_7.1_08_accessories_3024x.jpg 3024w`
              />
            </div>
          </div>
          <!-- <div class="swiper-pagination"></div> -->
        </div>
        <div class="product__price-container">
          <p>Ціна</p>
          <p class="product__current-price">2790 грн</p>
          <p class="product__old-price">3990 грн</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="product__description | container section">
  <p>
    Cloud Stinger Core - це легка, міцна і надійна ігрова гарнітура з
    приголомшливою якістю звуку. Крім того, Cloud Stinger Core має вбудовані
    елементи керування звуком і зручний мікрофон із відключенням під час
    повороту.
  </p>
</div>
